body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url("wallpaper.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(28, 28, 28);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 240, 240);

}

main {
  margin: 30px 0px 10px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 50%, 400px);
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  /* background-color: rgba(62, 0, 0, 0.323); */
  background-color: rgba(36, 4, 4, 0.5);
  backdrop-filter: blur(10px);
}
label {
  cursor: pointer;
  font-size: 1.1rem;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}
.status {
  color: orange;
  display: none;
}
.active {
  display: block;
}
.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  border-radius: 10px;
  z-index: 1;
}
.input-container > * {
  border-radius: inherit;
  width: 100%;
}
input {
  outline: none;
  border: none;
  padding: 10px 12px;
  background-color: rgb(255, 240, 240);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border {
  --angle: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1.5px;
  border-radius: inherit;
  z-index: -1;
  animation: spin infinite 3s linear;
  transition: 0.8s;
  opacity: 0;
}

.blurred {
  filter: blur(10px);
  opacity: 0.7;
}
.invalid,
.invalid > * {
  background-image: conic-gradient(from var(--angle), red, orange, red);
}
.valid,
.valid > * {
  background-image: conic-gradient(
    from var(--angle),
    lime,
    rgb(200, 255, 0),
    lime
  );
}
.focused {
  opacity: 1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

#sign {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;

  border: 1px solid rgb(255, 240, 240);
  box-shadow: inset 0 0 0 0 var(--hover);
  transition: 0.3s;
  color: rgb(255, 240, 240);
  background: none;
}
#sign:hover,
#sign:focus {
  background: rgb(255, 240, 240);
  color: rgb(45, 45, 45);
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
